<div class="header__container">
  <div class="logo__container">
      <img class="logoImg" src="" alt="">
      <h1 class="logoTitle">Game-Acessibility-Website</h1>
  </div>
  <nav>
      <div class="navbar">
          <a accesskey="1" aria-label="" routerLink="">Início</a>
          <a accesskey="2" aria-label="" routerLink="articles">Artigos</a>
          <a accesskey="3" aria-label="" routerLink="games">Games</a>
          <a accesskey="4" aria-label="" routerLink="">Técnicas</a>
          <a accesskey="5" aria-label="" routerLink="">Contato</a>
      </div>
  </nav>
</div>
