header {
  position: sticky;
  top: 0;
}

.page-content {
  padding: 2rem 0 ;

  background-color: black;
  color: white;

  display: flex;
  justify-content: center;

  width: 100%;
  min-height: calc(100vh - 9.1rem);
}

footer {
  background-color:rgb(78, 78, 78);
  width:100%;
}
